<div class="content">
  <mat-card class="photo-card">
    <mat-card-header style="justify-content: center" >
      <mat-card-title class="title-text">Yup, that's me</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://avatars.githubusercontent.com/u/48216995?v=4" alt="My photo">
    <mat-card-content>
      <p>
        Hi! My name is Łukasz Michalak. I'm a patient person with a non-conflict character and great problem-solving skills.
        Follow me on my ig &#64;hipitii (link below :] )
      </p>
    </mat-card-content>
    <mat-card-actions style="float: right;">
      <a mat-button target="_blank" href="https://www.instagram.com/hipitii/">INSTAGRAM</a>
    </mat-card-actions>
  </mat-card>
</div>
