svg#clouds {
  position: fixed;
  bottom: -160px;
  z-index: -10;
  width: 2050px;
}

.main-container {
  display: flex;
}

.router {
  padding: 50px 0 0 0;
  justify-content: center;
  align-items: center;
}
