<div>
  <div class="content" style="max-width: 960px;">
    <!-- Highlight Card -->
    <div class="card highlight-card card-small" >
      <span>My name is Łukasz Michalak!</span>
    </div>

    <!-- Resources -->
    <p>Here are some links:</p>

    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" href="http://www.google.com">
        <span>Google</span>
      </a>
      <a class="card" target="_blank" rel="noopener" href="https://github.com/devLukaszMichalak">
        <span>GitHub</span>
      </a>

      <a class="card" target="_blank" rel="noopener" href="#">
        <span>there is no link here</span>
      </a>

    </div>

    <!-- Footer -->
    <footer>
      Love me
    </footer>
  </div>
</div>
